[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[Filesystem root]
row=0
col=0

[pts]
row=3
col=0

[proc]
row=1
col=1

[anvil]
row=1
col=0

[shm]
row=4
col=0

[repos]
row=2
col=1

[sys]
row=3
col=1

[apps]
row=2
col=0

[home]
row=0
col=1

[/]
row=4
col=1

[/home/x-kamstut]
row=0
col=2

